/*Desktop-Tablet*/
.navbar-nav {
    text-align: center;
    background-color: blanchedalmond;
}

.container-fluid .row {
    background-color: beige;
}
.section-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

